@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

.stroke-text {
  -webkit-text-stroke: 2px #4184e0;
  /* red-600 */
  color: transparent;
}

@keyframes smoothUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
    /* adjust distance */
  }
}

.animate-smoothUpDown {
  animation: smoothUpDown 3s ease-in-out infinite;
}